<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="main.addCategory()" >Add</button>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr style="font-size:14px;">
                        <th>Name</th>
                        <th>Short name</th>
						<th>Updated</th>
                        <th>Created</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in main.categories" ng-class-even="table-striped" style="cursor:pointer">
                        <td>{{item.name}}</td>
                        <td>{{item.short_name}}</td>
                        <td>{{item.updated}}</td>
                        <td>{{item.created}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="main.selectCategory(item)" >Edit</button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="main.deleteCategory(item)" >Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer></footer>